<div class="edit-profile-container container">
  <div class="edit-profile-row row">
    <div class="edit-profile-form col-md-10 col-lg-8 col-xl-8">
      <%= link_to user_path(@user), class: "back-link" do %>
        <i class="fa-regular fa-circle-left"></i>
        ユーザー詳細
      <% end %>
      <h3 class="title">プロフィール編集</h3>
      <%= form_with model: @user, url: { controller: 'profiles', action: 'update' }  do |f| %>
        <hr>
        <div class="field-line">
          <div class="field-line-left">
            <%= f.label :icon, "アイコン", for: "img-select-btn" %>
          </div>
          <div class="field-line-right icon-line">
            <% if @user.icon.attached? %>
              <%= image_tag @user.icon, id: "img-prev", class: "rounded-circle", size: "90x90" %>
            <% else %>
              <%= image_tag "default_user.png", id: "img-prev", class: "rounded-circle user-default-img", size: "90x90" %>
            <% end %>
            <span>
              <%= f.file_field :icon, accept: 'image/jpeg, image/jpg, image/png', id: "img-select-btn" %>
              <%= link_to "アイコンを削除", delete_icon_profile_path, method: :delete, class: "delete-icon" %>
            </span>
            <span class="error-message">
              <% if @user.errors.include?(:icon) %>
                <%= @user.errors.full_messages_for(:icon).first %>
              <% end %>
            </span>
          </div>
        </div>
        
        <hr>
        <div class="field-line">
          <div class="field-line-left">
            <%= f.label :username, "ユーザー名" %>
            <span class="comment">（15文字以内）</span>
          </div>
          <div class="field-line-right">
            <%= f.text_field :username, autocomplete: "username" %>
            <span class="error-message">
              <% if @user.errors.include?(:username) %>
                <%= @user.errors.full_messages_for(:username).first %>
              <% end %>
            </span>
          </div>
        </div>
        
        <hr>
        <div class="field-line">
          <div class="field-line-left">
            <%= f.label :introduction, "プロフィール" %>
            <span class="comment">（200文字以内）</span>
          </div>
          <div class="field-line-right">
            <%= f.text_area :introduction %>
            <span class="error-message">
              <% if @user.errors.include?(:introduction) %>
                <%= @user.errors.full_messages_for(:introduction).first %>
              <% end %>
            </span>
          </div>
        </div>

        <hr>
        <div class="field-line">
          <div class="field-line-left">
            <p class="title-oshimem">推しメン</p>
          </div>
          <div class="field-line-right">
            <div class="oshi-field">
              <%= f.collection_check_boxes :member_ids, Member.all, :id, :name, { multiple: true } %>
            </div>
          </div>
        </div>

        <hr>
        <div class="actions">
          <%= f.submit "更新" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
