<div class="form-container container">
  <div class="form-row edit-account-row row">
    <div class="edit-account-form col-md-10 col-lg-8 col-xl-8">
      <%= link_to mypage_users_path, class: "mypage-link" do %>
        <i class="fa-regular fa-circle-left"></i>
        <div>MY PAGE</div>
      <% end %>
      <h3 class="title">パスワード変更</h3>
    </div>

    <div class="edit-account-form col-md-10 col-lg-8 col-xl-8">
      <%= form_with model: @user, url: {controller: 'users', action: 'update_password'} do |f| %>
        <p>パスワードは<%= @minimum_password_length %>文字以上で入力してください。</p>

        <div class="field icon-std">
          <%= f.label :current_password, "現在のパスワード" %><br>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "current-password-field" %>
          <span id="current-password-toggle"><i class="fa-solid fa-eye"></i></span>
          <span class="error-message">
            <% if @user.errors.include?(:current_password) %>
              <%= @user.errors.full_messages_for(:current_password).first %>
            <% end %>
          </span>
        </div>

        <div class="field icon-std">
          <%= f.label :password, "新しいパスワード" %><br>
          <%= f.password_field :password, autocomplete: "new-password", class: "password-field" %>
          <span id="password-toggle"><i class="fa-solid fa-eye"></i></span>
          <span class="error-message">
            <% if @user.errors.include?(:password) %>
              <%= @user.errors.full_messages_for(:password).first %>
            <% end %>
          </span>
        </div>

        <div class="field icon-std">
          <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-confirmation-field" %>
          <span id="password-confirmation-toggle"><i class="fa-solid fa-eye"></i></span>
          <span class="error-message">
            <% if @user.errors.include?(:password_confirmation) %>
              <%= @user.errors.full_messages_for(:password_confirmation).first %>
            <% end %>
          </span>
        </div>

        <div class="actions">
          <%= f.submit "更新" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
