<div class="notice"><%= notice %></div>
<div class="top flex-shrink-0 user-info-container">
  <%= link_to :back, class: "back-link", data: { "turbolinks" => false } do %>
    <i class="fa-regular fa-circle-left"></i>
    BACK
  <% end %>
  <%= render "shared/profile", user: @post_user %>
  <div class="posts-area">
    <span>
      <h1 class="title">
        <span>
          <i class="fa-solid fa-heart"></i>
          <span>MY FAVORITES</span>
        </span>
        <%= link_to "マイ投稿一覧", user_path(@post_user), class: "favorites-btn btn" %>
      </h1>
      <%= render "shared/posts", posts: @post_user.favorited_posts.order(created_at: :desc), user: @user %>
    </span>
  </div>
</div>
