<div class="notice"><%= notice %></div>
<div class="top flex-shrink-0 user-info-container">
  <%= link_to :back, class: "back-link", data: { "turbolinks" => false } do %>
    <i class="fa-regular fa-circle-left"></i>
    BACK
  <% end %>
  <div class="profile-area">
    <h1 class="title">
      <i class="fa-regular fa-id-card"></i>
      <span>PROFILE</span>
    </h1>
    <div class="content">
      <div class="profile-area-top">
        <div>
          <% if @specific_user.icon.attached? %>
            <%= image_tag @specific_user.icon, class:"rounded-circle", size: "70x70" %>
          <% else %>
            <%= image_tag "default_user.png", class:"rounded-circle user-default-img", size: "70x70" %>
          <% end %>
        </div>
        <% if @user == @specific_user %>
          <%= link_to edit_profile_path, class: "link-field-profile", data: { "turbolinks" => false } do %>
            <i class="fa-solid fa-pen" style="color: #22699c;"></i>
            <p class="hidden-within-767px">プロフィール編集</p>
          <% end %>
        <% end %>
      </div>
      <h4 class="profile-area-username"><%= @specific_user.username %></h4>
      <div class="profile-area-middle">
        <p class="profile-area-ff">100フォロー<span></span>10フォロワー</p>
      </div>
      <div class="profile-area-introduction">
        <p><%= @specific_user.introduction %></p>
      </div>
      <div class="profile-area-oshi">
        <span>
          <p>推しメン</p>
          <% if @specific_user.members.empty? %>
            <div class="oshi-none">未設定</div>
          <% end %>
        </span>
        <% @specific_user.members.each do |member| %>
          <div class="oshi"><%= member.name %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="posts-area">
    <h1 class="title">
      <i class="fa-solid fa-map-pin"></i>
      <span>MY POSTS</span>
    </h1>
    <div class="posts">
      <div class="number-of-displays"><%= @posts.count %>件</div>
      <% @posts.each do |post| %>
        <div class="post">
          <span class="hidden-over-767px post-upper my-post-upper">
            <div><%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
            <div class="links">
              <div class="positive-link">
                <%= link_to post_path(post) do %><i class="fa-solid fa-circle-info"></i><% end %>
              </div>
              <% if @user == @specific_user %>
                <div class="positive-link">
                  <%= link_to edit_post_path(post), data: { "turbolinks" => false } do %><i class="fa-regular fa-pen-to-square"></i><% end %>
                </div>
                <div class="negative-link">
                  <%= link_to post_path(post), method: :delete, data: { confirm: "投稿を削除しますか？" } do %><i class="fa-solid fa-trash"></i><% end %>
                </div>
              <% end %>
            </div>
          </span>
          <div class="post-left">
            <div class="post-left-upper">
              <div>
                <% if post.user.icon.attached? %>
                  <%= image_tag post.user.icon, class:"rounded-circle", size: "50x50" %>
                <% else %>
                  <%= image_tag "default_user.png", class:"rounded-circle user-default-img", size: "50x50" %>
                <% end %>
              </div>
              <div>
                <span class="hidden-over-767px">
                  <% if post.user.icon.attached? %>
                    <%= image_tag post.user.icon, class:"rounded-circle", size: "35x35" %>
                  <% else %>
                    <%= image_tag "default_user.png", class:"rounded-circle user-default-img", size: "35x35" %>
                  <% end %>
                </span>
                <div class="username"><%= post.user.username %></div>
                <div>
                  <div><%= link_to post.title, post_path(post), class: "title", data: { "turbolinks" => false } %></div>
                  <div><%= post.address %></div>
                </div>
              </div>
            </div>
            <div class="post-left-lower">
              <% unless post.members.empty? %>
                <div class="members-involved">
                  <i class="fa-solid fa-person-dress"></i>
                  関連メンバー
                </div>
                <div>
                  <% post.members.each do |member| %>
                    <span class="member-name"><%= member.name %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="post-right">
            <div><%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
            <div class="links">
              <div class="positive-link">
                <%= link_to post_path(post), data: { "turbolinks" => false } do %>
                  <i class="fa-solid fa-circle-info"></i>
                  詳細
                <% end %>
              </div>
              <% if @user == @specific_user %>
                <div class="positive-link">
                  <%= link_to edit_post_path(post), data: { "turbolinks" => false } do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                    編集
                  <% end %>
                </div>
                <div class="negative-link">
                  <%= link_to post_path(post), method: :delete, data: { confirm: "投稿を削除しますか？" } do %>
                    <i class="fa-solid fa-trash"></i>
                    削除
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
