<div class="notice"><%= notice %></div>
<div class="navigation-link">
  <div>
    <%= link_to_unless_current "TOP", root_path, data: { "turbolinks" => false } %>
    <i class="fa-solid fa-angle-right fa-xs" style="color: #ffffff; margin: 0 2px;"></i>
    <%= link_to_unless_current @post_user.username, user_path(@post_user), data: { "turbolinks" => false } %>
  </div>
</div>
<div class="top flex-shrink-0 user-info-container">
  <%= render "shared/profile", user: @post_user %>
  <div class="posts-area">
    <span>
      <h1 class="title">
        <span>
          <i class="fa-solid fa-map-pin"></i>
          <span>MY POSTS</span>
        </span>
        <%= link_to "いいね一覧", favorites_user_path(@post_user), class: "favorites-btn btn" %>
      </h1>
      <%= render "shared/posts", posts: @posts, user: @user %>
    </span>
  </div>
</div>
