<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
<%= link_to new_post_path, class: "post-button", data: { "turbolinks" => false } do %>
  <i class="fa-solid fa-map-pin fa-2xl"></i>
  <span>投稿する</span>
<% end %>

<div class="context">
  <div>
    <div class="oshidoko-logo"><%= image_tag "OSHIDOKO_removebg.png", size: "250x70" %></div>
    <div class="subtitle">日向坂46の聖地マップ</div>
  </div>
  <div>
    <div class="introduction">日向坂46のメンバーはこれまでに様々なロケーションを巡っています。『OSHIDOKO』は、そのような日向坂46の聖地となるロケーションをファンの間で共有し、あなたの日向坂46推し活ライフをより充実したものにするサービスです。</div>
    <div class="features">
      <div class="feature">
        <div>- ロケーションの共有</div>
        <div class="description">彼女たちが訪れた場所をコメントや写真と共に共有できます。あなたの推しメンが訪れたり紹介してくれた場所の魅力を伝えましょう。</div>
      </div>
      <div class="feature">
        <div>- ロケーションの探索</div>
        <div class="description">彼女たちが訪れた場所を探すことができます。あなたの推しメンがどのような場所を訪れ、どのような体験をしているのか発見しましょう。</div>
      </div>
      <div class="feature">
        <div>- ロケーションのレビュー</div>
        <div class="description">彼女たちが訪れた場所に足を運び、彼女たちと同じ感動や体験を味わいましょう。そこであなたが実際に目にしたもの、耳にしたもの、感じたものを教えてください。</div>
      </div>
    </div>
    <div class="conclusion">今すぐ『OSHIDOKO』に参加して、あなたの推し活ライフを素晴らしいものにしましょう。</div>
  </div>
  <% if user_signed_in? %> 
    <div class="links">
      <%= link_to root_path(anchor: "map-anchor") do %>
        <i class="fa-regular fa-map"></i>
        MAP
      <% end %>
      <%= link_to root_path(anchor: "posts-anchor") do %>
        <i class="fa-solid fa-map-pin"></i>
        POSTS
      <% end %>
    </div>
  <% else %>
    <div class="status-signed-out">
      <%= link_to "ログインはこちら", new_user_session_path %>
        <div class="links">
        <%= link_to root_path(anchor: "map-anchor") do %>
          <i class="fa-regular fa-map"></i>
          MAP
        <% end %>
        <%= link_to root_path(anchor: "posts-anchor") do %>
          <i class="fa-solid fa-map-pin"></i>
          POSTS
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="top-area">
  <ul class="triangles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >

<div id="map-anchor"></div>

<div class="top flex-shrink-0">
  <div class="posts-map-area">
    <h1 class="title">
      <i class="fa-regular fa-map"></i>
      <span>MAP</span>
    </h1>
    <div id="posts-map"></div>
    <div id="posts-anchor"></div>
  </div>
  <div class="posts-area">
    <h1 class="title">
      <i class="fa-solid fa-map-pin"></i>
      <span>POSTS</span>
    </h1>
    <div class="search-form">
      <%= form_with url: search_homes_path(anchor: "posts-anchor"), method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワードを入力" %>
        <%= button_tag type: 'submit', class: "btn-sm btn-search" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
    <div class="posts">
      <% if @posts.present? %>
        <div class="number-of-displays">
          <%= page_entries_info(@posts) %>
        </div>
        <% @posts.each do |post| %>
          <div class="post">
            <span class="hidden-over-767px post-upper">
              <div><%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
              <div>
                <%= link_to post_path(post), data: { "turbolinks" => false } do %>
                  <i class="fa-solid fa-circle-info"></i>
                  詳細
                <% end %>
              </div>
            </span>
            <div class="post-left">
              <div class="post-left-upper">
                <div>
                  <%= link_to user_path(post.user) do %>
                    <% if post.user.icon.attached? %>
                      <%= image_tag post.user.icon, class:"rounded-circle", size: "50x50" %>
                    <% else %>
                      <%= image_tag "default_user.png", class:"rounded-circle user-default-img", size: "50x50" %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <span class="hidden-over-767px">
                    <%= link_to user_path(post.user) do %>
                      <% if post.user.icon.attached? %>
                        <%= image_tag post.user.icon, class:"rounded-circle", size: "35x35" %>
                      <% else %>
                        <%= image_tag "default_user.png", class:"rounded-circle user-default-img", size: "35x35" %>
                      <% end %>
                    <% end %>
                  </span>
                  <div><%= link_to post.user.username, user_path(post.user) %></div>
                  <div>
                    <div><%= link_to post.title, post_path(post), class: "title", data: { "turbolinks" => false } %></div>
                    <div><%= post.address %></div>
                  </div>
                </div>
              </div>
              <div class="post-left-lower">
                <% unless post.members.empty? %>
                  <div class="members-involved">
                    <i class="fa-solid fa-person-dress"></i>
                    関連メンバー
                  </div>
                  <div>
                    <% post.members.each do |member| %>
                      <span class="member-name"><%= member.name %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="post-right">
              <div><%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
              <div>
                <%= link_to post_path(post), data: { "turbolinks" => false } do %>
                  <i class="fa-solid fa-circle-info"></i>
                  詳細
                <% end %>
              </div>
            </div>
          </div>
          <div class="favorite" id="favorite-post-<%= post.id %>">
            <% if user_signed_in? && post.favorited?(@user) %>
              <%= render "shared/after_liked", post: post %>
            <% else %>
              <%= render "shared/before_liked", post: post %>
            <% end %>
          </div>
        <% end %>
        <hr class="end-line">
        <%= paginate @posts, params: { anchor: 'posts-anchor' } %>
      <% else %>
        <div class="number-of-displays">0件</div>
        <div class="post not-applicable">投稿が存在しません。</div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function initMap() {
    // 初期表示位置
    let latlng = new google.maps.LatLng(35.65263243481742, 139.73823818822285); //港区日向坂
    // スタイル情報
    let styles = [
      {
        stylers: [
          { "saturation": 0 }, // 彩度
          { "lightness": 0 } // 明度
        ]
      }
    ];

    // 地図を作成
    let map = new google.maps.Map(document.getElementById('posts-map'), {
      zoom: 5.5,
      styles: styles,
      center: latlng
    });

    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    // 投稿した場所のマーカーを設置
    let infowindows = []; // マーカーに対応するinfowindow(詳細情報)を格納する配列

    <% @all_posts.each do |post| %>
      ( function() { 
        let markerLatLng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> }; // 緯度経度のデータ作成
        let marker = new google.maps.Marker({ 
          position: markerLatLng, 
          map: map,
          icon: {
            url: '/assets/marker.svg',
            scaledSize: new google.maps.Size(50, 50)
          }
        });

        // マーカークリック時にinfowindowを表示
        let infowindowContent = `
          <div class="infowindow-content">
            <% if post.pictures.attached? %>
              <div class="infowindow-picture"><%= image_tag post.pictures.first, class: "picture" %></div>
            <% else %>
              <div class="infowindow-picture"><%= image_tag "default_post_infowindow.png", class: "picture" %></div>
            <% end %>
            <a href='<%= post_path(post.id) %>' class="title" data-turbolinks="false"><%= post.title %></a>
            <div class="address"><%= post.address %></div>
            <% unless post.members.empty? %>
              <div class="members-involved">
                <i class="fa-solid fa-person-dress"></i>
                関連メンバー
              </div>
              <div>
                <% post.members.each do |member| %>
                  <span class="member-name"><%= member.name %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        `;

        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          content: infowindowContent
        });

        marker.addListener('click', function() {
          // 他のinfowindowをすべて閉じる
          closeAllInfoWindows();
          // クリックされたマーカーのinfowindowを開く
          infowindow.open(map, marker);
        });

        // 地図上の他の場所をクリック時，infowindowを閉じる
        google.maps.event.addListener(map, 'click', function() {
          closeAllInfoWindows();
        });

        // infowindowを配列に追加
        infowindows.push(infowindow);
      })();
    <% end %>

    // すべてのinfowindowを閉じる関数
    function closeAllInfoWindows() {
      for (let i = 0; i < infowindows.length; i++) {
        infowindows[i].close();
      }
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
