<% provide(:title, "パスワード再設定のご案内") %>
<div class="form-container container">
  <div class="form-row row">
    <div class="title">
      <h3 class="long-words">パスワード再設定<span>のご案内</span></h3>
      <p class="guidance">パスワードをお忘れの場合は、ご登録のメールアドレス宛に再設定用のURLをお送りいたします。</p>
    </div>

    <div class="password-reset-form col-md-8 col-lg-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレスを入力", autocomplete: "email" %>
          <span class="error-message">
            <% if resource.errors.include?(:email) %>
              <%= resource.errors.full_messages_for(:email).first %>
            <% end %>
          </span>
        </div>

        <div class="actions">
          <%= f.submit "送信する" %>
        </div>

        <div class="links">
          <%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
